@model CaracteristicaModel

<form class="form" asp-controller="Caracteristica" asp-action="CaracteristicaAdd">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Nombre</label>
        <input class="form-control" type="text" asp-for="Name">
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Description">Descripción</label>
        <input class="form-control" type="text" asp-for="Description">
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="Active">Activo</label>
        <input type="checkbox" asp-for="Active">
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="CreationDate">Fecha de Creación</label>
        <input class="form-control" type="date" asp-for="CreationDate">
    </div>

    <div class="mb-3">
        <select class="form-select" asp-for="ProductModelId" asp-items="@Model.ListaProductos">
            <option>Seleccionar el Producto</option>
        </select>
    </div>
    
    <div class="mb-3">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>