@model ProductModel

<h1>Editar Producto</h1>
<form class="form" asp-controller="Product" asp-action="ProductEdit">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Nombre</label>
        <input class="form-control" type="text" asp-for="Name">
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="Quantity">Cantidad Existente</label>
        <input class="form-control" type="number" asp-for="Quantity">
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="CreationDate">Fecha de Creación</label>
        <input class="form-control" type="date" asp-for="CreationDate">
    </div>
    
    <div class="mb-3">
        <button class="btn btn-primary">Guardar Cambios</button>
        <a class="btn btn-secondary" asp-controller="Product" asp-action="ProductList">Regresar</a>
    </div>
</form>
